.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: greenyellow;
}
.name {
  width: 600px;
  height: 150px;
}
.icone,.sticker{
  width: 100px;
  height: 100px;
}
