<div class="container" *ngIf="characters.length">
  <div class="card" *ngFor="let character of characters">
    <div>
      <img class="img" [src]="character.image" alt="{{ character.name }} Image">
    </div>
    <div class="box">
      <div>
        <h1>{{character.name}}</h1>
      </div>
      <div class="content-card">
        <p><strong>Status:</strong> {{ character.status }}</p>
        <p><strong>Location:</strong> {{ character.location.name }}</p>
        <p><strong>Gender:</strong> {{ character.gender }}</p>
      </div>
      <div>
        <button class="btn">More details</button>
      </div>
    </div>
  </div>
  <div class="card">
    <button class="btn" (click)="changePage()">Carregar mais personagens</button>
  </div>
</div>